.container {
  margin-inline: 1rem;
}

.buttons-group {
  display: flex;
  gap: 1rem;
  & > * {
    flex: 1;
    min-width: fit-content;
  }
}

.single-item{
  transition:op
}

.item-list:has(.single-item:hover) .single-item:not(:hover) {
  opacity: 0.5;
}
