<form class="max-w-md mx-auto my-4" [formGroup]="formGroup" *ngIf="todos$ | async">
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <svg
        class="w-4 h-4 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input
      type="search"
      id="default-search"
      formControlName="search"
      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search for Item"
      required />
    <button
      type="submit"
      class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Search
    </button>
  </div>
</form>
<div class="buttons-group mx-3">
  <button
    (click)="addItem()"
    type="button"
    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    Add One
  </button>
  <button
    (click)="updateFirstItem()"
    type="button"
    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    Update First
  </button>
</div>
<ul role="list" class="divide-y divide-gray-100 container item-list" *ngIf="todos$ | async">
  <li
    class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap single-item"
    *ngFor="let post of filteredTodos()">
    <div>
      <p class="text-sm font-semibold leading-6 text-gray-900">
        <a href="#" class="hover:underline">{{ post.title }}</a>
      </p>
      <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
        <p>Unique Identifier : {{ post.id }}</p>
        <p>
          <a href="#" class="hover:underline">User Id : {{ post.userId }}</a>
        </p>
      </div>
    </div>
    <button
      (click)="deleteTodo(post.id)"
      type="button"
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
      Delete
    </button>
  </li>
</ul>
