<div class="mega-head">
  <div class="left-title">VALIDE</div>
  <div class="mega-title">REPARTITION ATCE / ATER</div>
</div>

<div class="main">

  <div class="empty"></div>
  <div class="simple-border center">ATCE</div>
  <div class="black-line"><div class="simple-border center right-cut">ATCE-ATER</div></div>
  <div class="black-line center"><div class="special-background margin-cut">TOTAL ATCE</div></div>
  <div class="special-background center margin-cut">TOTAL ATER</div>

  <ng-container *ngFor="let item of [].constructor(7); let i = index">
    <div class="simple-border first-content bold">DB</div>
    <div class="two-items">
      <div class="simple-border center bold">{{ i }}xx</div>
      <div class="simple-border end">26</div>
    </div>
    <div class="black-line"><div class="simple-border end right-cut">0</div></div>
    <div class="black-line"><div class="simple-border end right-cut margin-cut">26</div></div>
    <div class="simple-border end right-cut margin-cut">0</div>
    <div class="empty"></div>
    <div class="negative-margin two-items">
      <div class="empty"></div>
      <div class="simple-border end">26</div>
    </div>
    <div class="black-line"><div class="negative-margin simple-border end right-cut">0</div></div>
    <div class="black-line"><div class="negative-margin simple-border end right-cut margin-cut">259,999,74</div></div>
    <div class="negative-margin simple-border end right-cut margin-cut">0,00</div>
  </ng-container>

  <ng-container *ngFor="let item of [].constructor(2)">
    <div class="first-content-total-rows simple-border bold">TOTAL DB ou CR</div>
    <div class="two-items">
      <div class="empty"></div>
      <div class="end special-background simple-border">26</div>
    </div>
    <div class="black-line"><div class="special-background end right-cut simple-border">0</div></div>
    <div class="black-line"><div class="special-background end right-cut margin-cut simple-border">26</div></div>
    <div class="special-background end right-cut margin-cut simple-border">0</div>
    <div class="empty"></div>
    <div class="negative-margin two-items">
      <div class="empty"></div>
      <div class="special-background end simple-border">26</div>
    </div>
    <div class="black-line"><div class="negative-margin special-background end right-cut simple-border">0</div></div>
    <div class="black-line">
      <div class="negative-margin special-background end right-cut margin-cut simple-border">259,999,74</div>
    </div>
    <div class="negative-margin special-background end right-cut margin-cut simple-border">0,00</div>
  </ng-container>

  <div class="empty-content black-line margin-top"><div class="right-cut"></div></div>
  <div class="black-line margin-top"><div class="simple-border center margin-cut bold">Nombre</div></div>
  <div class="simple-border center right-cut margin-cut bold margin-top">Montant</div>
  <div class="first-content-last-rows black-line"><div class="bold simple-border right-cut">TOTAL DB</div></div>
  <div class="black-line"><div class="end margin-cut bold special-background">1</div></div>
  <div class="end right-cut margin-cut bold special-background">12425245</div>
  <div class="first-content-last-rows black-line"><div class="bold simple-border right-cut">TOTAL CR</div></div>
  <div class="black-line"><div class="end margin-cut bold special-background">2</div></div>
  <div class="end right-cut margin-cut bold special-background">345345345345353</div>
</div>
