.modal {
  width: 250px;
  height: 100px;
  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
  }
  .content {
    width: 100%;
    height: 100%;
    background: red;
  }
}
